<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src=" ./assets/standardboard.webp" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><h4 class="part1">Play Chess</h4> <h4 class="part2">for Free</h4><h4 class="part3">on the #1 Site!</h4></h5>
          <p class="card-text">10,580,647 
              <span class = "inner">Games Today</span>
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             222,122 
             <span class = "inner">Playing Now</span>
            </p>
            <button type="button" class="btn btn-primary btn-lg">
                <svg class="joystick" fill="white" >
                    <use xlink:href="./assets/bootstrap-icons.svg#joystick"></use>
                </svg>
                <p class="button-text">&nbsp;&nbsp;&nbsp;Play Online</p>
                <p class="button-inner"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Play with someone at your level</p>
                
            </button>

            <button type="button" class="btn2 btn-primary btn-lg">
                <svg class="joystick" fill="white" >
                    <use xlink:href="./assets/bootstrap-icons.svg#robot"></use>
                </svg>
                <p class="button-text">&nbsp;&nbsp;&nbsp;Play Computer</p>
                <p class="button-inner"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Play vs customized training bots</p>
                
            </button>
        </div>
      </div>
    </div>
  </div>


