<footer class="py-3 my-4">
    <!--First half involving basic links-->
    <ul class="nav justify-content-center pb-0 mb-0">
      <li class="nav-item"><a href="#" class="nav-link px-1 text-muted">Help |</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-0 text-muted">Why Join? |</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-1 text-muted">About |</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-0 text-muted">Jobs |</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-1 text-muted">Developers |</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-0 text-muted">User Agreement |</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-1 text-muted">Privacy |</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-0 text-muted">Fair Play |</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-1 text-muted">Community |</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-0 text-muted">Chess.com 2022</a></li>
    </ul>

    <!-- Second half involving social media links -->
    <ul class="nav justify-content-center pb-0 mb-0">
        <li class="nav-item">
            <a href="https://www.chess.com/play/apps/ios" class="nav-link Apple" aria-current="page">
                <svg class="apple" width="22" height="22" fill="rgb(152,150,149)">
                    <use xlink:href="./assets/bootstrap-icons.svg#apple"></use>
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a href="https://www.chess.com/play/apps/android" class="nav-link andorid" aria-current="page">
                <svg class="android" width="22" height="22" fill="rgb(152,150,149)">
                    <use xlink:href="./assets/bootstrap-icons.svg#robot"></use>
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a href="https://www.facebook.com/chess" class="nav-link facebook" aria-current="page">
                <svg class="facebook" width="22" height="22" fill="rgb(152,150,149)">
                    <use xlink:href="./assets/bootstrap-icons.svg#facebook"></use>
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a href="https://twitter.com/chesscom" class="nav-link twitter" aria-current="page">
                <svg class="twitter" width="22" height="22" fill="rgb(152,150,149)">
                    <use xlink:href="./assets/bootstrap-icons.svg#twitter"></use>
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a href="https://www.youtube.com/user/wwwChesscom" class="nav-link youtube" aria-current="page">
                <svg class="youtube" width="22" height="22" fill="rgb(152,150,149)">
                    <use xlink:href="./assets/bootstrap-icons.svg#youtube"></use>
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a href="https://www.twitch.com/chess" class="nav-link twitch" aria-current="page">
                <svg class="twitch" width="22" height="22" fill="rgb(152,150,149)">
                    <use xlink:href="./assets/bootstrap-icons.svg#twitch"></use>
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a href="https://www.instagram.com/wwwchesscom" class="nav-link instagram" aria-current="page">
                <svg class="instagram" width="22" height="22" fill="rgb(152,150,149)">
                    <use xlink:href="./assets/bootstrap-icons.svg#instagram"></use>
                </svg>
            </a>
        </li>
        <li class="nav-item">
            <a href="https://discord.gg/3VbUQME" class="nav-link discord" aria-current="page">
                <svg class="discord" width="22" height="22" fill="rgb(152,150,149)">
                    <use xlink:href="./assets/bootstrap-icons.svg#discord"></use>
                </svg>
            </a>
        </li>
      </ul>

  </footer>