<div class="d-flex flex-column flex-shrink-0 p-2 text-white" >

    <!-- Top logo -->
    <a routerLink="home" class="d-flex align-items-center mb-2  text-white text-decoration-none">
        <img src="./assets/chess-main-logo3.png" width="110px">
    </a>

    <!-- Beginnning of first half all the way up to log in button -->
    <!-- Play Puzles Learn Today Connect More Icons -->
    <ul class="nav nav-pills flex-column mb-auto">



        <li class="nav-item  dropend" >
            <a class="nav-link Play" routerLink="play" aria-current="page" data-bs-toggle="dropdown" aria-expanded="false" role="button">
                <svg class="bi me-2 " width="30" height="30" fill="white">
                    <use xlink:href="./assets/bootstrap-icons.svg#joystick"></use>
                </svg>
                Play
            </a>
            









        </li>
        <li>
            <a routerLink="puzzles" class="nav-link Puzzles">
                <svg class="bi me-2" width="30" height="30">
                    <use xlink:href="./assets/bootstrap-icons.svg#puzzle-fill"></use>
                </svg>
                Puzzles
            </a>
        </li>











        
        <li>
            <a routerLink="lessons"class="nav-link Learn">
                <svg class="bi me-2" width="30" height="30">
                    <use xlink:href="./assets/bootstrap-icons.svg#mortarboard-fill"></use>
                </svg>
                Learn
            </a>
        </li>














        
        <li>
            <a href="#" class="nav-link Today">
                <svg class="bi me-2" width="30" height="30" fill="gray">
                    <use xlink:href="./assets/bootstrap-icons.svg#newspaper"></use>
                </svg>
                Today
            </a>
        </li>









        <li>
            <a href="#" class="nav-link Connect">
                <svg class="bi me-2" width="30" height="30" fill="white">
                    <use xlink:href="./assets/bootstrap-icons.svg#chat-dots-fill"></use>
                </svg>
                Connect
            </a>
        </li>








        <li>
            <a href="#" class="nav-link More">
                <svg class="bi me-2" width="30" height="30" fill="gray">
                    <use xlink:href="./assets/bootstrap-icons.svg#three-dots"></use>
                </svg>
                More
            </a>
        </li>














        
        <!-- Search bar -->
        <form class="d-flex">
            <input class="form-control me-2 mt-2" type="search" placeholder="Search" aria-label="Search">
        </form>

        <!-- Sign up an log in buttons -->
        <button type="button" class="btn btn-secondary mt-3 me-2" routerLink="register">Sign Up</button>
        <button type="button" class="btn btn-success mt-2 me-2" routerLink="login"> Log In</button>

    </ul>

    <!-- Bottom half -->

    <!-- Invovles etended space by using empty elements -->


    <div class="bottom">
        <ul class="nav nav-pills flex-column mb-auto">
            <div class="bottom"></div>
            <li class="nav_item">
                <a href="#" class="nav-link Light UI" aria-current="page">
                    <svg class="bi me-1" width="30" height="18" fill=rgb(152,150,149)>
                        <use xlink:href="./assets/bootstrap-icons.svg#globe2"></use>
                    </svg>
                    English
                </a>
            </li>
            <li class="nav_item">
                <a href="#" class="nav-link Help" aria-current="page">
                    <svg class="bi me-1" width="30" height="18" fill=rgb(152,150,149)>
                        <use xlink:href="./assets/bootstrap-icons.svg#question-circle-fill"></use>
                    </svg>
                    Help
                </a>
            </li>

        </ul>
    </div>


</div>