<div class="d-flex flex-column flex-shrink-0 p-2 text-white bg-dark" style="width: 150px;">
    <a href="/" class="d-flex align-items-center mb-2  text-white text-decoration-none">
      <img src = "./assets/chess-main-logo3.png" width = "120px">
    </a>
    
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link text-muted " aria-current="page">
          <svg class="bi me-2 " width="30" height="30" fill = "white" ><use xlink:href="./assets/bootstrap-icons.svg#joystick"></use></svg>
          Play
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-muted">
          <svg class="bi me-2" width="30" height="30" fill="orange"><use xlink:href="./assets/bootstrap-icons.svg#puzzle-fill"></use></svg>
          Puzzles
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-muted">
          <svg class="bi me-2" width="30" height="30" fill= "blue"><use xlink:href="./assets/bootstrap-icons.svg#mortarboard-fill"></use></svg>
          Learn
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-muted">
          <svg class="bi me-2" width="30" height="30" fill = "gray"><use xlink:href="./assets/bootstrap-icons.svg#newspaper"></use></svg>
          Today
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-muted">
          <svg class="bi me-2" width="30" height="30" fill = "white"><use xlink:href="./assets/bootstrap-icons.svg#chat-fill"></use></svg>
          Connect
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-muted">
          <svg class="bi me-2" width="30" height="30" fill = "gray"><use xlink:href="./assets/bootstrap-icons.svg#three-dots"></use></svg>
          More
        </a>
      </li>
    </ul>
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" >
      </form>
    
      <button type="button" class="btn btn-secondary btn-sm mt-3 me-2">Sign Up</button>
      <button type="button" class="btn btn-success btn-sm mt-2 me-2">Log In</button>
    
  </div>