p{
    display: flex;
    justify-content: center;
    color: white;
}

div.container{
    display: flex;
    justify-content: center;
    padding-top: .8%;
    padding-left: 9%;
    
    
    
}

button{
    padding-top: 1%;
}

svg{
    height: 5%;
    width: 5%;
    display:inline-block;
    
}

span{
    color: white;
    font-size: 90%;
}

.col-md-4{
    max-height: 100%;
    margin-left: 2%;
}

img{
    display: flex;
    max-height: 100%;
    max-width: 100%;
}