<div class="container">

    <div class="card" style="width: 30rem;">
        <div class="card-body">
          <h5 class="card-title">Play Chess</h5>
          <svg class="icon" width="60" height="60" fill="white">
            <use xlink:href="./assets/bootstrap-icons.svg#joystick"></use>
        </svg>
        
        

        <button type="button" class="btn2 btn-primary btn-lg">
            <svg class="joystick" fill="yellow" >
                <use xlink:href="./assets/bootstrap-icons.svg#lightning-fill"></use>
            </svg>
            <p class="button-text">&nbsp;&nbsp;&nbsp;Play Online</p>
            <p class="button-inner"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Play vs a person of similar skill</p>

        </button>

        <button type="button" class="btn2 btn-primary btn-lg">
            <svg class="joystick" fill="gray" >
                <use xlink:href="./assets/bootstrap-icons.svg#robot"></use>
            </svg>
            <p class="button-text">&nbsp;&nbsp;&nbsp;Computer</p>
            <p class="button-inner"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Challenge a bot from Easy to Master</p>

        </button>

        <button type="button" class="btn2 btn-primary btn-lg">
            <svg class="joystick" fill="tan" >
                <use xlink:href="./assets/bootstrap-icons.svg#people-fill"></use>
            </svg>
            <p class="button-text">&nbsp;&nbsp;&nbsp;Play a Friend</p>
            <p class="button-inner"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Invite a friend to a game of chess</p>

        </button>

        <button type="button" class="btn2 btn-primary btn-lg">
            <svg class="joystick" fill="gold" >
                <use xlink:href="./assets/bootstrap-icons.svg#trophy-fill"></use>
            </svg>
            <p class="button-text">&nbsp;&nbsp;&nbsp;Tournaments</p>
            <p class="button-inner"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Join an Arena where anyone can win</p>

        </button>

        <button type="button" class="btn2 btn-primary btn-lg">
            <svg class="joystick" fill="white" >
                <use xlink:href="./assets/bootstrap-icons.svg#dice-6-fill"></use>
            </svg>
            <p class="button-text">&nbsp;&nbsp;&nbsp;Chess Variants</p>
            <p class="button-inner"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Find fun new ways to play chess</p>

        </button>
        
        <div class="line"></div>
          
    </div>
      

</div>