  
<div class = "container">

    <div class="col-md-8">
        <svg class="joystick" fill="black" >
            <use xlink:href="./assets/bootstrap-icons.svg#person-fill"></use>
            
        </svg>
        <span>
            Opponent
        
        </span>
            
        <img src="./assets/play-chess-board.png" class="img-fluid rounded-start">

        <svg class="joystick" fill="white" >
            <use xlink:href="./assets/bootstrap-icons.svg#person-fill"></use>
            
        </svg>


        
    </div>

    <div class = "col-md-4">
        <play-options-card> Loading</play-options-card>
    </div>
   

    
</div>
